<li id="<%= dom_id(comment) %>" class='comment'>
  <div class='author-section'>
    <img src="https://api.dicebear.com/9.x/identicon/svg?seed=<%= comment.display_name %>" class='author-avatar'/>
    <div class='author'><%= comment.display_name.present? ? comment.display_name : "Display Name missing" %></div>
    <div><span data-controller="posted-time" data-posted-time-value="<%= comment.updated_at %>" data-posted-time-target="time"></span></div>
  </div>
  <p><%= comment.content.present? ? comment.content : "Content missing" %></p>
  <%= link_to "Edit", edit_comment_path(comment), data: { turbo_frame: "main-content" } %>
  <%= link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" } %>
</li>